In [1]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

merged_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])

merged_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
#merged_df.columns
#merged_df = student_data_merged.rename(columns={"student_name":"Student Name",
#                                                         "school_name":"School Name",
#                                                         "reading_score": "Reading Score",
#                                                         "math_score": "Math Score"})

In [3]:
schools = merged_df["school_name"].unique()
total_schools = len(schools)

total_students = merged_df["student_name"].count()

total_budget = merged_df["budget"].unique().sum()

average_math = merged_df["math_score"].mean()

average_reading = merged_df["reading_score"].mean()


passing_math = merged_df[(merged_df["math_score"] >= 70)].count()["student_name"]

percentage_passing_math = (passing_math/total_students) *100


passing_reading =  merged_df[(merged_df["reading_score"] >= 70)].count()["student_name"]

percentage_passing_reading = (passing_reading/total_students) *100


passing_both = merged_df[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >=70)].count()["student_name"]

percentage_passing_both = (passing_both / total_students) * 100

In [4]:
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students":[total_students], "Total Budget":[total_budget], "Average Math Score":[average_math], "Average Reading Score":[average_reading], "% Passing Math":[percentage_passing_math], "% Passing Reading":[percentage_passing_reading], "% Overall Passing":[percentage_passing_both]})

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [5]:
schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [68]:
grouped_schools_df = merged_df.groupby(['school_name'])

school_type = grouped_schools_df["type"].unique()
school_students = grouped_schools_df["student_name"].count()
school_budget = grouped_schools_df["budget"].unique()
student_budget = school_budget/ school_students
schools_math_average = grouped_schools_df['math_score'].mean()
schools_reading_average = grouped_schools_df['reading_score'].mean()
# schools_passing_math = grouped_schools_df[(grouped_schools_df["math_score"] >= 70)].count()["student_name"]
# schools_passing_math
# grouped_schools_df['reading_score'] 


grouped_schools_df["reading_score"] >=70)= grouped_schools_df.groupby(grouped_schools_df.school_name).sum()

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'