In [1]:
import pandas as pd

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

merged_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])

merged_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
#Determine total schools in district 
total_schools = len(merged_df["school_name"].unique())

#Determine total students in the district
total_students = merged_df["student_name"].count()

#Determine total budget of the district
total_budget = merged_df["budget"].unique().sum()

#Determine mean math score in district
average_math = merged_df["math_score"].mean()

#Determine mean reading score in district 
average_reading = merged_df["reading_score"].mean()

#Determine how many students passed math
passing_math = merged_df[(merged_df["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = (passing_math/total_students) *100

#Determine how many students passed reading
passing_reading =  merged_df[(merged_df["reading_score"] >= 70)].count()["student_name"]
percentage_passing_reading = (passing_reading/total_students) *100

#Determine how many students passed both reading and math
passing_both = merged_df[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >=70)].count()["student_name"]
percentage_passing_both = (passing_both / total_students) * 100

In [3]:
#Create a Dataframe
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students":[total_students], "Total Budget":[total_budget], "Average Math Score":[average_math], "Average Reading Score":[average_reading], "% Passing Math":[percentage_passing_math], "% Passing Reading":[percentage_passing_reading], "% Overall Passing":[percentage_passing_both]})

#Format Data 
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

#Show
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [4]:
grouped_schools_df = merged_df.groupby(['school_name'])

school_type = grouped_schools_df["type"].unique()
school_students = grouped_schools_df["student_name"].count()
school_budget = grouped_schools_df["budget"].unique()
student_budget = school_budget/ school_students
schools_math_average = grouped_schools_df['math_score'].mean()
schools_reading_average = grouped_schools_df['reading_score'].mean()

In [5]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [6]:
#Create new columns with booleans of students passing reading and math since.... ‘>=’ not supported between instances of ‘SeriesGroupBy’ and ‘int’....anyway
merged_df["passing_math"] = merged_df["math_score"] >= 70
merged_df["passing_reading"] = merged_df["reading_score"] >= 70
# merged_df["passing_both"] = merged_df[(merged_df ["math_score"] >= 70) & (merged_df["reading_score"] >=70)].any()
merged_df["passing_both"] = merged_df[(merged_df ["math_score"] >= 70) & (merged_df["reading_score"] >=70)].any().dropna()

# grouped_schools_df = merged_df.groupby(["school_name"]).mean()
# grouped_schools_df["Per Student Budget"] = grouped_schools_df["budget"]/grouped_schools_df["size"]
# grouped_schools_df["% Passing Math"] = grouped_schools_df["passing_math"] * 100
# grouped_schools_df["% Passing Reading"] = grouped_schools_df["passing_reading"] * 100
# grouped_schools_df["% Overall Passing"] = grouped_schools_df["passing_both"]

# grouped_schools_df

merged_df.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading,passing_both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,NaN
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,NaN
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,NaN
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,NaN
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,NaN
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,NaN
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,NaN
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,NaN
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,NaN
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,NaN
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,NaN

In [7]:
nineth = merged_df[(merged_df["grade"] == "9th")].groupby("school_name").mean()["math_score"]
tenth = merged_df[(merged_df["grade"] == "10th")].groupby("school_name").mean()["math_score"]
eleventh = merged_df[(merged_df["grade"] == "11th")].groupby("school_name").mean()["math_score"]
twelfth = merged_df[(merged_df["grade"] == "12th")].groupby("school_name").mean()["math_score"]


math_average_df = pd.DataFrame({"9th Grade": nineth, "10th Grade":tenth, "11th Grade":eleventh, "12th Grade": twelfth})

math_average_df["9th Grade"] = math_average_df["9th Grade"].map("{:.2f}%".format)
math_average_df["10th Grade"] = math_average_df["10th Grade"].map("{:.2f}%".format)
math_average_df["11th Grade"] = math_average_df["11th Grade"].map("{:.2f}%".format)
math_average_df["12th Grade"] = math_average_df["12th Grade"].map("{:.2f}%".format)

math_average_df

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [8]:
nineth = merged_df[(merged_df["grade"] == "9th")].groupby("school_name").mean()["reading_score"]
tenth = merged_df[(merged_df["grade"] == "10th")].groupby("school_name").mean()["reading_score"]
eleventh = merged_df[(merged_df["grade"] == "11th")].groupby("school_name").mean()["reading_score"]
twelfth = merged_df[(merged_df["grade"] == "12th")].groupby("school_name").mean()["reading_score"]


reading_average_df = pd.DataFrame({"9th Grade": nineth, "10th Grade":tenth, "11th Grade":eleventh, "12th Grade": twelfth})

reading_average_df["9th Grade"] = reading_average_df["9th Grade"].map("{:.2f}%".format)
reading_average_df["10th Grade"] = reading_average_df["10th Grade"].map("{:.2f}%".format)
reading_average_df["11th Grade"] = reading_average_df["11th Grade"].map("{:.2f}%".format)
reading_average_df["12th Grade"] = reading_average_df["12th Grade"].map("{:.2f}%".format)

reading_average_df

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [9]:
print(grouped_schools_df["Per Student Budget"].max())
print(grouped_schools_df["Per Student Budget"].min())

KeyError: 'Column not found: Per Student Budget'

In [ ]:
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

grouped_schools_df["Student Spending"] = pd.cut(grouped_schools_df["Per Student Budget"], bins, labels=labels)
student_budget_group = grouped_schools_df.groupby("Student Spending").mean()
# student_budget_group = grouped_schools_df[["math_score", "reading_score", "% Passing Math", "% Passing Reading"]].mean()

del student_budget_group ["Student ID"]
del student_budget_group ["School ID"]
del student_budget_group ["size"]
del student_budget_group ["budget"]
del student_budget_group ["passing_math"]
del student_budget_group ["passing_reading"]
del student_budget_group ["Per Student Budget"]

student_budget_group = student_budget_group.rename(columns={"reading_score": "Average Reading Score", "math_score": "Average Math Score"})

student_budget_group["Average Reading Score"] = student_budget_group["Average Reading Score"].map("{:.2f}%".format)
student_budget_group["Average Math Score"] = student_budget_group["Average Math Score"].map("{:.2f}%".format)

student_budget_group

In [ ]:
bins = [0, 1000, 1999, 5000]
labels = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

# grouped_schools_df["size"] = pd.cut(grouped_schools_df["Per Student Budget"], bins, labels=labels)

In [ ]:
grouped_schools_df = merged_df.groupby("type").mean()


del grouped_schools_df ["Student ID"]
del grouped_schools_df ["School ID"]
del grouped_schools_df ["size"]
del grouped_schools_df ["budget"]



grouped_schools_df