In [1]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

merged_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])

merged_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
#merged_df.columns
#merged_df = student_data_merged.rename(columns={"student_name":"Student Name",
#                                                         "school_name":"School Name",
#                                                         "reading_score": "Reading Score",
#                                                         "math_score": "Math Score"})

In [3]:
schools = merged_df["school_name"].unique()
total_schools = len(schools)

total_students = merged_df["student_name"].count()

total_budget = merged_df["budget"].unique().sum()

average_math = merged_df["math_score"].mean()

average_reading = merged_df["reading_score"].mean()

passing_math = merged_df[(merged_df["math_score"] >= 70)].count()["student_name"]

percentage_passing_math = (passing_math/total_students) *100

passing_reading =  merged_df[(merged_df["reading_score"] >= 70)].count()["student_name"]

percentage_passing_reading = (passing_reading/total_students) *100

passing_both = merged_df[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >=70)].count()["student_name"]

percentage_passing_both = (passing_both / total_students) * 100

In [16]:
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students":[total_students], "Total Budget":[total_budget], "Average Math Score":[average_math], "Average Reading Score":[average_reading], "% Passing Math":[percentage_passing_math], "% Passing Reading":[percentage_passing_reading], "% Overall Passing":[passing_both]})
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,"25,528.00%"

In [39]:
merged_df.columns
schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [45]:
school_df = merged_df.sort_values(by=['school_name'])
school_df
# school_df = merged_df.groupby(by=["school_name"])
# huang_df = merged_df.loc[merged_df["school_name"] == "Huang High School", :]
# huang_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
24829,24829,John Lozano,M,11th,Wright High School,84,77,10,Charter,1800,1049400
24828,24828,Jonathan Thomas,M,12th,Wright High School,95,80,10,Charter,1800,1049400
24827,24827,Lori Ramirez,F,10th,Wright High School,74,74,10,Charter,1800,1049400
24797,24797,Scott Scott,M,10th,Wright High School,90,83,10,Charter,1800,1049400
26035,26035,Michael Holmes,M,9th,Wright High School,98,80,10,Charter,1800,1049400